<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boonsan.claim.mapper.AccidentReportMapper">

    <resultMap id="AccidentReportResultMap" type="com.boonsan.model.accident.AccidentReport">
        <id property="reportNo" column="report_no"/>
        <result property="policyNumber" column="policy_number"/>
        <result property="accidentAt" column="accident_at"/>
        <result property="accidentDescription" column="accident_description"/>
        <result property="damageDetails" column="damage_details"/>
        <result property="accidentType" column="accident_type" javaType="enums.AccidentDetailsType"/>
        <result property="accidentStatus" column="accident_status" javaType="enums.AccidentReportStatus"/>
        <result property="accidentReportDocumentName" column="accident_report_document_name"/>
        <result property="medicalCertificateFileName" column="medical_certificate_file_name"/>
        <result property="claimDocumentName" column="claim_document_name"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insertAccidentReport" parameterType="com.boonsan.model.accident.AccidentReport">
        INSERT INTO accident_report (
            report_no,
            policy_number,
            accident_at,
            accident_description,
            damage_details,
            accident_type,
            accident_status,
            accident_report_document_name,
            medical_certificate_file_name,
            claim_document_name,
            created_at
        ) VALUES (
            #{reportNo},
            #{policyNumber},
            #{accidentAt},
            #{accidentDescription},
            #{damageDetails},
            #{accidentType},
            #{accidentStatus},
            #{accidentReportDocumentName},
            #{medicalCertificateFileName},
            #{claimDocumentName},
            #{createdAt}
        )
    </insert>

    <select id="findByAccidentNumber" resultMap="AccidentReportResultMap">
        SELECT
            report_no,
            policy_number,
            accident_at,
            accident_description,
            damage_details,
            accident_type,
            accident_status,
            accident_report_document_name,
            medical_certificate_file_name,
            claim_document_name,
            created_at
        FROM accident_report
        WHERE report_no = #{accidentNumber}
    </select>
</mapper>
